
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloria+Hallelujah&family=Nanum+Myeongjo&display=swap');


h1{
font-family: 'Gloria Hallelujah';
font-size: 60px;
color: white;
}

h2{



}

li a{
  font-family: 'Abril Fatface';
}
